*{
    margin: 0;
}
body{
    background-color:rgb(3, 3, 19);
}
.social__links{
    display: flex;
    /* background-color:rgb(3, 3, 19); */
    margin: 20px auto;
    max-width: 700px;
}
.social__content{
    background-color:white;
    display: flex;
    border: 2px solid white;
    border-radius: 10%;
    box-shadow: 5px 5px 5px 5px rgb(136, 133, 133);
    flex-direction: column;
    margin:10px 20px;
    width: 30%;
}
.social__content > a{
    text-decoration: none;
    padding: 50px;
    color: orange;
}
/* .bi-instagram, 
.bi-telephone, 
.bi-facebook, 
.bi-envelope{
    size: 10%;
} */
section{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: orange;
    border-radius: 10%;
    box-shadow: 5px 5px 5px 5px rgb(136, 133, 133);
}
#userMessage{
    display: flex;
    flex-direction: column;
    margin-top:20px;
    padding: 5%;
    color: rgb(134, 122, 122);
    
}
.input__area > input[type=text], textarea{
    width: 100%;
    border: none;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    
}
#submit{
    width: 100px;
    margin-left: 38%;
    margin-bottom: 10px;
    background-color: rgb(3, 3, 19); 
    border: none;
    color: rgb(161, 86, 86);
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
}
@media only screen and (max-width:760px){
    /* .contact__page{
        display: block;
        max-width: 100%;
    } */
    .social__content{
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        width: 70%;
        padding: 50px;

    }
    .social__links{
        display: inline-block;
        text-align: center;
        word-spacing: 10px;
        
    }
    .social__links > a{
        padding: none;
    }
}
